.home-container {
    margin-left: 15%;
    margin-right: 15%;
    justify-content: center;
}
.margin-top {
    margin-top: 5%;
}
.work-card {
    height: "auto";
    width: 25rem;
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
    margin: 0.2rem;
}
@media only screen and (max-width: 600px) {
    .work-card {
        height: 100%;
        width: "auto";
    }
}
.image {
    height: 90%;
    width: 90%;
}
.button-text {
    width: 100%;
    margin-bottom: 1rem;
}
