.home-container {
  margin-left: 15%;
  margin-right: 15%;
  justify-content: center;
}
.margin-top {
  margin-top: 5%;
}
.work-card {
  height: "auto";
  width: 25rem;
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  margin: 0.2rem;
}
@media only screen and (max-width: 600px) {
  .work-card {
    height: 100%;
    width: "auto";
  }
}
.image {
  height: 90%;
  width: 90%;
}
.button-text {
  width: 100%;
  margin-bottom: 1rem;
}

.slider-btn-left {
  position: absolute;
  top: 30%;
  left: 5%;
}

.slider-btn-right {
  position: absolute;
  top: 30%;
  right: 5%;
}
image-modal-container {
  width: 500px;
  height: 500px;
  overflow: none;
}
.modal-image {
  width: 500px;
  height: 500px;
}
.slide-active {
  display: inline;
}

.slide {
  display: none;
}
